.Radio {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.5em;
  align-items: center;
  margin: 0.3em 0;
  position: relative;
  &__input {
    display: flex;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  &__label {
    line-height: 1;
  }
  &__control svg {
    display: flex;
    height: 1.3em;
    width: 1.3em;
    fill: var(--primary);
  }
}
