html {
  height: 100%;
  background: fixed
    linear-gradient(219deg, var(--yellow) 0%, var(--turquoise) 100%) 0% 0%
    no-repeat;
  font-size: 1rem;
  @include break($large-break-point) {
    font-size: 1.4rem;
  }
}

body {
  font-family: $font-family-body;
  font-weight: $font-weight-body;
}

.home {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  section {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 70ch;
  }
}
