:root {
  /* Colors: */
  --focus-color: #908799;
  --yellow: #ffe30f;
  --light-orange: #f9c80e;
  --orange: #ff8b26;
  --burnt-orange: #f86624;
  --unnamed-color-ff3b65: #ff3b65;
  --red: #ea3546;
  --primary: #662e9b;
  --dark-turquoise: #43bccd;
  --secondary: #8f41d9;
  --unnamed-color-555555: #555555;
  --turquoise: #50dff2;
}

$font-family-body: 'Londrina Solid', sans-serif;
$font-weight-body: 300;
$font-weight-light: 100;
$font-weight-h: 400;
$font-weight-black: 900;

$large-break-point: 1260px;
